{% extends "layout.html" %}

{% block content %}
<main>
    <section class="solid">
        <h2>about me</h2>
        <p>I'm Jung Xuan, someone that is currently interested in pursuing a career in AI and Data Analytics.</p>
    </section>

    <h1 style="text-align: left; padding: 0 10vw;">Education</h1>

    <section class="solid">
        <table>
            <tr>
                <td>
                    <div>
                        <h2>Tertiary (2024-2025)</h2>
                        <img src="./src/dhs.png" style="width: 10vw; height: 10vw;">
                        <h2>Dunman High School</h2>
                    </div>
                </td>
                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Subject Combination</h2>
                        <li><p>H2 Physics, H2 Mathematics, H2 Computing, H2 Economics, H3 Mathematics</p></li>
                        <h2>Notable Achievements</h2>
                        <li><p><span style="font-weight: bold;">2025 Singapore Science and Engineering Fair (SSEF)</span> - Achieved Bronze Medal</p></li>
                        <li><p><span style="font-weight: bold;">2025 NTU International Bridge Design Competiton</span> - Achieved Finalists</p></li>
                        <li><p><span style="font-weight: bold;">2025 National Olympiad of Artificial Intelligence (NOAI)</span> - Achieved Top 60</p></li>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h2>Secondary (2020-2023)</h2>
                        <img src="./src/wrss.png" style="width: 10vw; height: 10vw;">
                        <h2>Woodlands Ring Secondary School</h2>
                    </div>
                </td>

                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Subject Combination</h2>
                        <li><p>Triple Science with Elective History</p></li>
                        <h2>Notable Achievements</h2>
                        <li><p><span style="font-weight: bold;">2023 National Olympiad of Infomatics (NOI)</span> - Achieved Bronze Medal</p></li>
                        <li><p><span style="font-weight: bold;">2023 24th International Elementz Fair</span> - Achieved Certificate of Commendation</p></li>
                        <li><p><span style="font-weight: bold;">2023 AWS Build On, ASEAN, TechForShe Junior</span> - Achieved 1st Runner Up</p></li>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h2>Primary (2014-2019)</h2>
                        <img src="./src/nkps.png" style="width: 10vw; height: 10vw;">
                        <h2>Northoaks Primary School</h2>
                    </div>
                </td>

                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Notable Achievements</h2>
                        <li><p>Had a fun childhood :)</p></li>
                    </div>
                </td>
            </tr>
        </table>
    </section>
    
    <h1 style="text-align: left; padding: 0 10vw;">Work</h1>
    
    <section class="solid">
        <table>
            <tr>
                <td>
                    <div>
                        <h2>Systems on Silicon Manufacturing Company (Dec 2025)</h2>
                        <img src="./src/ssmc.png" style="width: 26vw; height: 8vw;">
                        <h2>Internship</h2>
                    </div>
                </td>
                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Key Takeaways</h2>
                        <li><p>Learnt how chip modules were made & the basics of photolithography</p></li>
                        <li><p>Went into a cleanroom</p></li>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h2>RF360 Qualcomm (Dec 2025)</h2>
                        <img src="./src/qualcomm.png" style="width: 40vw; height: 10vw;">
                        <h2>Internship</h2>
                    </div>
                </td>
                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Key Takeaways</h2>
                        <li><p>Learnt how chip modules were made & the basics of photolithography</p></li>
                        <li><p>Went into a cleanroom</p></li>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h2>Giordano (Nov 2023 - Jan 2024)</h2>
                        <img src="./src/giordano.png" style="width: 25vw; height: 15vw;">
                        <h2>Part Time Sales Associate</h2>
                    </div>
                </td>

                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Key Takeaways</h2>
                        <li><p>Acquired confidence & competance in interacting with customers</p></li>
                        <li><p>Gained hands-on experience in a realistic working environment</p></li>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                        <h2>Singapore Code Campus (Nov 2022 - May 2023)</h2>
                        <img src="./src/sgcc.svg" style="width: 20vw; height: 15vw;">
                        <h2>Technical Assistant</h2>
                    </div>
                </td>

                <td>
                    <div style="text-align: left; padding: 0 0 0 2vw;">
                        <h2>Key Takeaways</h2>
                        <li><p>Taught basic Python programming & introduced machine learning and Amazon Web Services to future aspiring programmers</p></li>
                        <li><p>Developed an ability to provide intuitive answers & examples</p></li>
                    </div>
                </td>
            </tr>
        </table>

    </section>

</main>

{% endblock %}
