{% extends "layout.html" %}

{% block content %}



<main>
    <div class="grid">
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
        <div><img src="./src/images/certs/skwirel4cert.jpg" alt=""></div>
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
        <div><img src="./src/images/certs/cyberthon2024.png" alt=""></div>
    </div>  

</main>


{% endblock %}