{% extends "layout.html" %}

{% block content %}
<main>
	<section class="solid">
		<h1 class="animate-text">SLOP</h1>
		<p class="animate-text">I LOVE IT</p>
	</section>

	<section class="glass">
		<h1 class="animate-text">doesth her drapes coverth thy sky</h1>
		<p class="animate-text">burn shall he</p>
	</section>

	<section class="solid">
		<h1 class="animate-text">SLOP</h1>
		<p class="animate-text">I LOVE IT</p>
	</section>

	<section class="glass">
		<h1 class="animate-text">doesth her drapes coverth thy sky</h1>
		<p class="animate-text">burn shall he</p>
	</section>

	<section class="solid">
		<h1 class="animate-text">SLOP</h1>
		<p class="animate-text">I LOVE IT</p>
	</section>

	<section class="glass">
		<h1 class="animate-text">doesth her drapes coverth thy sky</h1>
		<p class="animate-text">burn shall he</p>
	</section>

	<section class="solid">
		<h1 class="animate-text">SLOP</h1>
		<p class="animate-text">I LOVE IT</p>
	</section>


</main>
{% endblock %}

	

