{% extends "layout.html" %}

{% block content %}
<main>
	<section class="solid">
		<h1 class="fade-right">SLOP</h1>
		<p class="fade-right">I LOVE IT</p>
	</section>

	<section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>

	<section class="solid">
		<h1 class="fade-up">SLOP</h1>
		<p class="fade-up">I LOVE IT</p>
	</section>

	<section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>

	<section class="solid">
		<h1 class="fade-up">SLOP</h1>
		<p class="fade-up">I LOVE IT</p>
	</section>

	<section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>


</main>
{% endblock %}

	

