{% extends "layout.html" %}

{% block content %}
<main>
    <section class="solid">
        <a href="https://www.youtube.com">
        <div class="proj">
            <img src="./src/picture1.jpg">
            <div class="segment">
                <h2>Example 1</h2>
                <p class="desc"></p>
            </div>
        </div>
        </a>

        <div class="proj">
            <img src="./src/picture2.jpg">
            <div class="segment">
                <h2 class="fade-right">Example 2</h2>
                <p class="desc fade-right">This is a description2</p>
            </div>
        </div>

    </section>

    <section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>

    <section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>

    <section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>

    <section class="glass">
		<h1 class="fade-up">doesth her drapes coverth thy sky</h1>
		<p class="fade-up">burn shall he</p>
	</section>

</main>
{% endblock %}