{% extends "layout.html" %}

{% block content %}

<main>
    <div class="infText" style="transform: translateX(-1120px);">PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS AAAA</div>

    <section class="solid">
        <a href="https://github.com/ExoSteel/MNIST-dataset-fun">
        <div class="proj">
            <img src="./src/images/project-images/mnist.png">
            <div class="segment">
                <h2 class="fade-right">MNIST Neural Network with Pygame Canvas</h2>
                <div class="tags">
                    <div class="tag python"></div>
                    <div class="tag AI"></div>
                </div>
                <p class="desc fade-right">&emsp; A simple introdution into Artificial Intelligence with a nice Graphical User Interface to input new data into the neural network.</p>
            </div>
        </div>
        </a>

        <a href="https://github.com/ExoSteel/snake-game">
            <div class="proj">
                <img src="./src/images/project-images/snake.png">
                <div class="segment">
                    <h2 class="fade-right">Snake AI (Reinforcement Learning)</h2>
                    <p class="desc fade-right"></p>
                    <p class="desc fade-right">&emsp; Training a simple Snake AI via Reinforcement Learning using a Deep-Q Neural Network from Pytorch library</p>
                </div>
                
            </div>
        </a>
    </section>
</main>
{% endblock %}