{% extends "layout.html" %}

{% block content %}

<main>
    <div class="infText" style="transform: translateX(-1120px);">PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS AAAA</div>

    <section class="solid">
        <a href="https://www.youtube.com">
        <div class="proj">
            <img src="./src/images/picture1.jpg">
            <div class="segment">
                <h2>Example 1</h2>
                <p class="desc"></p>
            </div>
        </div>
        </a>

        <a>
            <div class="proj">
                <img src="./src/images/picture2.jpg">
                <div class="segment">
                    <h2 class="fade-right">Example 2</h2>
                    <p class="desc fade-right">This is a description2</p>
                </div>
            </div>
        </a>
    </section>
</main>
{% endblock %}