{% extends "layout.html" %}

{% block content %}

<main>
    
    <div class="loadingHex">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        
    </div>
    <div class="colourfulBox" style="position: absolute; left: 0%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 10%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 20%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 30%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 40%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 50%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 60%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 70%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 80%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 90%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>

    <div class="colourfulBox" style="position: absolute; left: 0%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 10%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 20%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 30%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 40%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 50%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 60%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 70%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 80%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 90%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>

    <div class="colourfulBox" style="position: absolute; left: 0%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 10%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 20%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 30%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 40%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 50%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 60%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 70%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 80%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 90%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    
    <div style="height:800px"></div>
    <div class="block">hello</div>
    <div class="block">what</div>
   

    <div class="stripe-container" style="display: flex; height: 500px; justify-content: center;">
        <div class="stripe" style="background-color: #719AB7; height: 1px; width: 100px; transform-origin: center top;"></div>
        <div class="stripe" style="background-color: #DCB44B; height: 1px; width: 100px; transform-origin: center top;"></div>
        <div class="stripe" style="background-color: #C53F29; height: 1px; width: 100px; transform-origin: center top;"></div>
        <div class="stripe" style="background-color: #8A281E; height: 1px; width: 100px; transform-origin: center top;"></div>
    </div>

    <div class="infText">APPLE BOTTOM JEANS APPLE BOTTOM JEANS APPLE BOTTOM JEANS APPLE BOTTOM JEANS</div>
    <div style="height:100px"></div>
    
    <div style="display: flex;">
        <div class="timegraph">
            <div class="timestep">
                <h1>2024-2025</h1>
                <p>Tertiary</p>
            </div>
            
            <div class="timeline"></div>
            <div class="timestep">
                <h1>2020-2023</h1>
                <p>Secondary</p>
            </div>
            <div class="timeline"></div>
            <div class="timestep">
                <h1>2014-2019</h1>
                <p>Primary</p>
            </div>
        </div>
        <div class="timeinfo">
            <table>
                <tr>
                    <td><h2>Subject Combination</h2></td>
                    <td><h2>Notable Achievements</h2></td>
                </tr>
                <tr>
                    <td>
                        <li><p>H2 Physics, H2 Mathematics, H2 Computing, H2 Economics, H3 Mathematics</p></li>
                    </td>
                    <td>
                        <li>
                            <p style="font-size: large; font-weight: bold;">2025 Singapore Science and Engineering Fair (SSEF)</p>
                            <p style="text-align: left; font-size: medium; font-weight: lighter;">&emsp; Achieved Bronze Medal</p>
                        </li>

                        <li>
                            <p style="font-size: large; font-weight: bold;">2025 NTU International Bridge Design Competiton</p>
                            <p style="text-align: left; font-size: medium; font-weight: lighter;">&emsp; Achieved Finalists</p>
                        </li>
                        <li>
                            <p style="font-size: large; font-weight: bold;">2025 National Olympiad of Artificial Intelligence (NOAI)</p>
                            <p style="text-align: left; font-size: medium; font-weight: lighter;">&emsp; Achieved Top 60</p>
                        </li>
                    </td>
                </tr>
            </table>
            <div style="height: 30vh;"></div>
            <table>
                <tr>
                    <td><h2>Subject Combination</h2></td>
                    <td><h2>Notable Achievements</h2></td>
                </tr>
                <tr>
                    <td>
                        <li><p>Triple Science with Elective History</p></li>
                    </td>
                    <td>
                        <li><p><span style="font-weight: bold;">2023 National Olympiad of Infomatics (NOI)</span> - Achieved Bronze Medal</p></li>
                        <li><p><span style="font-weight: bold;">2023 24th International Elementz Fair</span> - Achieved Certificate of Commendation</p></li>
                        <li><p><span style="font-weight: bold;">2023 AWS Build On, ASEAN, TechForShe Junior</span> - Achieved 1st Runner Up</p></li>
                    </td>
                </tr>
                
            </table>
            <div style="height: 30vh;"></div>
            <div>
                <h2>Notable Achievements</h2>
                <li><p>Had a fun childhood :)</p></li>
            </div>
            
        </div>
    </div>
    
    <div style="height:100px"></div>

</main>

<script type="module" src="./src/js/sandbox.js"></script>
{% endblock %}