{% extends "layout.html" %}

{% block content %}

<main>
    <div class="loadingHex">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        
    </div>
    <div class="colourfulBox" style="position: absolute; left: 0%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 10%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 20%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 30%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 40%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 50%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 60%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 70%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 80%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 90%; top: 340px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>

    <div class="colourfulBox" style="position: absolute; left: 0%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 10%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 20%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 30%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 40%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 50%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 60%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 70%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 80%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 90%; top: 440px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>

    <div class="colourfulBox" style="position: absolute; left: 0%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 10%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 20%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 30%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 40%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 50%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 60%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 70%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 80%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    <div class="colourfulBox" style="position: absolute; left: 90%; top: 540px; transform-origin: 45px 50px;">
        <div class="circle1" style="background-color: rgba(0, 255, 255);"></div>
        <div class="circle1" style="background-color: rgb(255, 238, 0);"></div>
        <div class="circle1" style="background-color: rgba(255, 0, 255);"></div>
    </div>
    
    <!-- <div class="block">hello</div>

    <div class="block">what</div> -->

    <!-- <div class="stripe-container" style="display: flex; height: 1000px; justify-content: center;">
        <div class="stripe" style="background-color: #719AB7; height: 1px; width: 100px; transform-origin: center top;"></div>
        <div class="stripe" style="background-color: #DCB44B; height: 1px; width: 100px; transform-origin: center top;"></div>
        <div class="stripe" style="background-color: #C53F29; height: 1px; width: 100px; transform-origin: center top;"></div>
        <div class="stripe" style="background-color: #8A281E; height: 1px; width: 100px; transform-origin: center top;"></div>
    </div> -->
    <div style="height:1000px"></div>
</main>

<script type="module" src="./src/js/sandbox.js"></script>
{% endblock %}