:root {
  --bg: #0f0f0f;
  --bg2: #fffdff;
  --text: #f0f0f0;
  --text2: #0f0f0f;
  --accent: linear-gradient(45deg, #fffdff, #646cff);
  --accent2: linear-gradient(45deg, #000000, #775b00);
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  overflow: scroll;
  color: #888;
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 10% 0% 1% 0%;
  background-color: var(--bg);
  opacity: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg);
  opacity: 0;
}

main {
  display: block;
}

footer {
  display: block;
  align-items: center;
  align-self: center;
  height: 10%;
  padding: 5% 0% 2% 0%;
  text-align: center;
}

table {
  display: flex;
  align-items: space;
  justify-content: left;
}

td {
  width: 100px;
}

button {
  position: relative;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em 5px;
  color: var(--text);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg);
  cursor: pointer;
}

.links, .logo{
  color: var(--text);
  padding: auto;
}

.solid {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.glass {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #001113;
}

h1 {
  font-size: 3rem;
  line-height: normal;
  margin: 0;
  background: var(--accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

p {
  font-size: 1.5rem;
  color: var(--text);
  margin-top: 1rem;
}

a { 
  color: var(--text); 
  text-decoration: none; 
  margin-left: 20px; 
}

.btn-ul {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  background-color: var(--text);
  color: var(--text);
}


.block {
  background-color: rgb(160, 0, 0);
  display: flex;
  width: 100px;
  height: 100px;
}

img{
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

.proj {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 2200px;
  height:750px;
  margin: 200px;
  background-color: var(--bg2);
  border-radius: 50px;
}

h2 {
  color: var(--accent2);
}

.desc {
  color: var(--text2);
}

.segment{
  padding:0px 25px 10px 0px;
  justify-content: left;
}