:root {
  --bg: #E6D4C8;
  --bg2: #e7c8b5;
  --text: #303146;
  --text2: #895B52;
  --accent: linear-gradient(45deg, #303146, #303146);
  --accent2: linear-gradient(45deg, #895B52, #895B52);
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  overflow: scroll;
  color: var(--text2);
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 10% 0% 1% 0%;
  background-color: var(--bg);
  opacity: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--bg);
  opacity: 0;
}

main {
  display: block;
}

footer {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding: 2% 2% 0% 2%;
  margin: auto;
  text-align: center;
}

div {
  padding: 0;
  margin: 0;
}

table {
  display: flex;
  align-items: space;
  justify-content: left;
}

td, tr {
  width: calc(35rem + 2vw);
}

button {
  position: relative;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em 5px;
  color: var(--text);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg);
  cursor: pointer;
}

.links, .logo{
  color: var(--text);
  padding: auto;
}

.solid {
  margin: auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.glass {
  height: 10vw;
  display: flex;
  padding: 0 20vw;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: left;
  background-color: var(--bg2);
}

h1 {
  font-size: calc(1.8rem + 0.8vw);
  line-height: normal;
  margin: 0;
  background: var(--accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

h2 {
  background: var(--accent2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-size: calc(1rem + 0.8vw);
}

h3 {
  display: flex;
  text-align: left;
  align-items: start;
  padding: 0%;
  font-size: calc(0.8rem + 0.8vw);
  margin: auto;
}

p {
  font-size: calc(0.7rem + 0.4vw);
  color: var(--text);
}

.ftr-p {
  font-size: calc(0.5rem + 0.4vw);
  text-align: left;
  margin: 2px;
}

li {
  font-size: larger;
}

a { 
  color: var(--text); 
  text-decoration: none; 
  margin-left: 20px; 
}

.btn-ul {
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center;
  background-color: var(--text);
  color: var(--text);
}


.block {
  background-color: rgb(160, 0, 0);
  display: flex;
  width: 100px;
  height: 100px;
}

img{
  width: calc(30rem + 10vw);
  height: calc(50rem + 15vw);
  padding: 0% 5% 0% 5%;
}

.proj {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 75vw;
  height: 20vw;
  margin: 3vw 0 0 0;
  background-color: var(--bg2);
  border-radius: 50px;
}

.desc {
  color: var(--text2);
  font-size: 1vw;
}

.segment{
  display: block;
  text-align: left;
}

.contacts {
  text-align: right;
}

.footnote {
  padding: 0% 1% 1% 0%;
  margin: auto;
  font-size: calc(0.6rem + 0.2vw);
  text-align: right;
}

.ftr-content {
  padding: 0 1vw;
}